



/* HOME */
main {
    margin: 88px 32px 44px;  /* 요즘에는 여백을 많이 주는게 훌륭한 디자인이다 */
    display: flex;  /* card 3개 수평 정렬 */
    justify-content: center;  /* card 3개 가운데 정렬 */
    column-gap: 60px;
    row-gap: 40px;
    flex-wrap: wrap;  /* 너비 좁아지면, 내리자 */
}

h3 {
    font-size: var(--h3-font-size);
}

.card {
    background-color: #f3f3f3;
    border-radius: 1rem;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 240px; */
    flex: 1 0 240px;
    max-width: 300px;  /* 최대 너비 : 300px */
    transition: .4s;
}

.now, 
.card:hover {
    box-shadow: 0 8px 16px rgb(0, 0, 0, 0.25);
}

.now .card-time, 
.card:hover .card-time {
    color: var(--second-color);
}

/* .card:hover .card-menu {
    color: #000;
    transition: .4s;
} */

.card-image {
    background: url("../img/plate_crop.png") center center;  /* 가운데를 중심으로 확대, 축소 */
    background-size: cover;  /* 배경을 꽉차게 */
    height: 0;
    padding-bottom: 66.66666667%;
    border-radius: 1rem 1rem 0 0;
}

.card-description {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 16px;
}

.card-title {
    display: flex;
    justify-content: center;  /* 날짜 | 식 가운데 정렬 */
    column-gap: 16px;
}

.card-menu {
    text-align: center;  /* 메뉴 가운데 정렬 */
}


/* breakpoints */
/* 2K & 4K */

/* tablet */
@media screen and (max-width: 600px) {  /* width가 600px가 되면 펼쳐짐 */
    .nav-toggle {
        display: block;
        cursor: pointer;
        position: absolute;  /* 위치 무시. 로고 가운데 정렬 */
    }

    .nav-list {
        position: absolute;
        top: 44px;
        left: 0;
        /* width: 100%; */
        right: 0;
        flex-direction: column;
        background-color: lightgrey;
        height: 0;
        overflow: hidden;
        transition: 0.17s;
    }

    .nav-link {
        color: var(--title-color);
        display: block;  /* 링크의 너비: 컨텐츠 -> nav-item 만큼 늘리자 */
    }

    .nav-item {
        padding: 0.5rem 1rem;  /* 위오아왼 */
        text-align: center;  /* 가운데 정렬 */
        border-bottom: 1px solid white;  /* 아래 선 */
    }

    .nav-logo {
        margin: 0 auto;  /* 로고 가운데 정렬 */
    }

    .show-menu {
        height: 164px;
    }
}

/* mobile */